---
import { TextLinkReact } from './TextLinkReact.tsx';
import { css } from '@/styled-system/css';
import { Icon } from '@astrojs/starlight/components';

interface Props {
  href: string;
}

const { href } = Astro.props;

const isExternalLink = href.startsWith('http');
---

<span class={css({display: 'inline-flex'})}>
  <TextLinkReact client:only href={href}  target={isExternalLink ? '_blank' : '_self'}>
    <div class={css({display: 'inline-flex', alignItems: 'center'})}>
      <slot/>
      <span>{isExternalLink && <Icon name="external" />}</span>
    </div>
  </TextLinkReact>
</span>