@use '../shared/dialog';
@use '../shared/keyframes';

.pando_alertDialog {
  @extend %alert-dialog;

  &[open] {
    @extend %fade-in-down;
  }
}

.pando_alertDialogHeader {
  @extend %dialog-header;

  margin-top: 1.2rem;
}

.pando_alertDialogTitleIcon {
  @extend %dialog-title-icon;
}

.pando_alertDialogIconButtonWrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.pando_alertDialogLabel {
  display: block;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  margin-top: 1.2rem;
}

.pando_alertDialogInputWrapper {
  margin-top: 1rem;
}

.pando_alertDialogFooter {
  @extend %dialog-footer;
}
