.pando_actionMenuBtnGroup {
  .pando_actionMenuBtn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .pando_actionMenuTrigger {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
