# modules
node_modules
coverage

# Configs
.turbo
tsconfig.tsbuildinfo

# Workspace related
temp
packages/*/npm
packages/*/build
packages/*/node_modules
packages/*/.tsup
website/node_modules
scripts/node_modules
tests/node_modules
bun/node_modules

# Mac system files
.DS_Store
.history