---
import {ButtonAnatomy, DangerButton, ActionButton, FilledButtons} from './ButtonExamples'
import {hstack, flex} from '@/styled-system/patterns'
import {css} from '@/styled-system/css'
import {AccountIcon} from '@pluralsight/react/icons'
---

<h2 class={css({marginTop: '10'})}>Anatomy</h2>

<div class={flex({justifyContent: 'space-between'})}>
  <ButtonAnatomy client:only />
  <ol class={css({listStyleType: 'decimal'})}>
    <li>Button</li>
    <li>Leading icon (optional)</li>
    <li>Label</li>
    <li>Trailing icon (optional)</li>
  </ol>
</div>

<h2>Usage</h2>  

<h3 class={hstack()}><AccountIcon /> Sentiments and types</h3>  

<p>Sentiments communicate intent, while type will help communicate hierarchy and emphasis.</p>

<h4>Sentiments</h4>

<div class={hstack({justifyContent: 'start', gap: '10'})}>
  <ActionButton client:only />
  <ul class={css({listStyleType: 'disc'})}>
    <li>Important</li>
    <li>Primary function of the area or page</li>
    <li>Required to advance</li>
  </ul>
</div>

<div class={hstack({justifyContent: 'start', gap: '10'})}>
  <DangerButton client:only />
  <ul class={css({listStyleType: 'disc'})}>
    <li>Communicates a destructive action, loss of data, or required information</li>
  </ul>
</div> 

<h4>Types</h4>

<div class={hstack({gap: '10'})}>
  <div>
    <h5><strong>Filled</strong></h5>
    <ul class={css({listStyleType: 'disc'})}>
      <li>Primary and highest emphasis action within the area, page, or window</li>
      <li>More important than other actions</li>
      <li>Main/default action in a group</li>
      <li>Should be used once per large focused area</li>
      <li>Use to indicate going to a next step</li>
    </ul>
  </div>
  <FilledButtons client:only />
</div>
<div class={hstack({gap: '10'})}>
  <div>
  <h5><strong>Primary</strong> (/Action)</h5>
  <ul class={css({listStyleType: 'disc'})}>
    <li>Main action</li>
    <li>Primary focus of the page, section, or module</li>
    <li>Completes or advances the progress or step</li>
  </ul>
  </div>
  <ActionButton client:only />
</div>
<div>
  <h5><strong>Weak</strong> (/Default)</h5>
  <ul class={css({listStyleType: 'disc'})}>
    <li>Performs a less-important yet still primary action</li>
    <li>Not pertinent to advancement yet performs an important action</li>
      <li>Eg. Sub-steps within a page-size form</li>
  </ul>
</div>



