@layer tokens {
  :where(:root, :host) {
    --pando-borders-none: none;
    --pando-easings-default: cubic-bezier(0.4, 0, 0.2, 1);
    --pando-easings-linear: linear;
    --pando-easings-in: cubic-bezier(0.4, 0, 1, 1);
    --pando-easings-out: cubic-bezier(0, 0, 0.2, 1);
    --pando-easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --pando-durations-fastest: 50ms;
    --pando-durations-faster: 100ms;
    --pando-durations-fast: 150ms;
    --pando-durations-normal: 200ms;
    --pando-durations-slow: 300ms;
    --pando-durations-slower: 400ms;
    --pando-durations-slowest: 500ms;
    --pando-radii-xs: 0.125rem;
    --pando-radii-sm: 0.25rem;
    --pando-radii-md: 0.375rem;
    --pando-radii-lg: 0.5rem;
    --pando-radii-xl: 0.75rem;
    --pando-radii-2xl: 1rem;
    --pando-radii-3xl: 1.5rem;
    --pando-radii-full: 9999px;
    --pando-font-weights-thin: 100;
    --pando-font-weights-extralight: 200;
    --pando-font-weights-light: 300;
    --pando-font-weights-normal: 400;
    --pando-font-weights-medium: 500;
    --pando-font-weights-semibold: 600;
    --pando-font-weights-bold: 700;
    --pando-font-weights-extrabold: 800;
    --pando-font-weights-black: 900;
    --pando-line-heights-none: 1;
    --pando-line-heights-tight: 1.25;
    --pando-line-heights-snug: 1.375;
    --pando-line-heights-normal: 1.5;
    --pando-line-heights-relaxed: 1.625;
    --pando-line-heights-loose: 2;
    --pando-letter-spacings-tighter: -0.05em;
    --pando-letter-spacings-tight: -0.025em;
    --pando-letter-spacings-normal: 0em;
    --pando-letter-spacings-wide: 0.025em;
    --pando-letter-spacings-wider: 0.05em;
    --pando-letter-spacings-widest: 0.1em;
    --pando-font-sizes-2xs: 0.5rem;
    --pando-font-sizes-xs: 0.75rem;
    --pando-font-sizes-sm: 0.875rem;
    --pando-font-sizes-md: 1rem;
    --pando-font-sizes-lg: 1.125rem;
    --pando-font-sizes-xl: 1.25rem;
    --pando-font-sizes-2xl: 1.5rem;
    --pando-font-sizes-3xl: 1.875rem;
    --pando-font-sizes-4xl: 2.25rem;
    --pando-font-sizes-5xl: 3rem;
    --pando-font-sizes-6xl: 3.75rem;
    --pando-font-sizes-7xl: 4.5rem;
    --pando-font-sizes-8xl: 6rem;
    --pando-font-sizes-9xl: 8rem;
    --pando-shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --pando-shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
    --pando-shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    --pando-shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    --pando-shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    --pando-shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --pando-shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --pando-colors-current: currentColor;
    --pando-colors-black: #000;
    --pando-colors-white: #fff;
    --pando-colors-transparent: rgb(0 0 0 / 0);
    --pando-colors-rose-50: #fff1f2;
    --pando-colors-rose-100: #ffe4e6;
    --pando-colors-rose-200: #fecdd3;
    --pando-colors-rose-300: #fda4af;
    --pando-colors-rose-400: #fb7185;
    --pando-colors-rose-500: #f43f5e;
    --pando-colors-rose-600: #e11d48;
    --pando-colors-rose-700: #be123c;
    --pando-colors-rose-800: #9f1239;
    --pando-colors-rose-900: #881337;
    --pando-colors-rose-950: #4c0519;
    --pando-colors-pink-50: #fdf2f8;
    --pando-colors-pink-100: #fce7f3;
    --pando-colors-pink-200: #fbcfe8;
    --pando-colors-pink-300: #f9a8d4;
    --pando-colors-pink-400: #f472b6;
    --pando-colors-pink-500: #ec4899;
    --pando-colors-pink-600: #db2777;
    --pando-colors-pink-700: #be185d;
    --pando-colors-pink-800: #9d174d;
    --pando-colors-pink-900: #831843;
    --pando-colors-pink-950: #500724;
    --pando-colors-fuchsia-50: #fdf4ff;
    --pando-colors-fuchsia-100: #fae8ff;
    --pando-colors-fuchsia-200: #f5d0fe;
    --pando-colors-fuchsia-300: #f0abfc;
    --pando-colors-fuchsia-400: #e879f9;
    --pando-colors-fuchsia-500: #d946ef;
    --pando-colors-fuchsia-600: #c026d3;
    --pando-colors-fuchsia-700: #a21caf;
    --pando-colors-fuchsia-800: #86198f;
    --pando-colors-fuchsia-900: #701a75;
    --pando-colors-fuchsia-950: #4a044e;
    --pando-colors-purple-50: #faf5ff;
    --pando-colors-purple-100: #f3e8ff;
    --pando-colors-purple-200: #e9d5ff;
    --pando-colors-purple-300: #d8b4fe;
    --pando-colors-purple-400: #c084fc;
    --pando-colors-purple-500: #a855f7;
    --pando-colors-purple-600: #9333ea;
    --pando-colors-purple-700: #7e22ce;
    --pando-colors-purple-800: #6b21a8;
    --pando-colors-purple-900: #581c87;
    --pando-colors-purple-950: #3b0764;
    --pando-colors-violet-50: #f5f3ff;
    --pando-colors-violet-100: #ede9fe;
    --pando-colors-violet-200: #ddd6fe;
    --pando-colors-violet-300: #c4b5fd;
    --pando-colors-violet-400: #a78bfa;
    --pando-colors-violet-500: #8b5cf6;
    --pando-colors-violet-600: #7c3aed;
    --pando-colors-violet-700: #6d28d9;
    --pando-colors-violet-800: #5b21b6;
    --pando-colors-violet-900: #4c1d95;
    --pando-colors-violet-950: #2e1065;
    --pando-colors-indigo-50: #eef2ff;
    --pando-colors-indigo-100: #e0e7ff;
    --pando-colors-indigo-200: #c7d2fe;
    --pando-colors-indigo-300: #a5b4fc;
    --pando-colors-indigo-400: #818cf8;
    --pando-colors-indigo-500: #6366f1;
    --pando-colors-indigo-600: #4f46e5;
    --pando-colors-indigo-700: #4338ca;
    --pando-colors-indigo-800: #3730a3;
    --pando-colors-indigo-900: #312e81;
    --pando-colors-indigo-950: #1e1b4b;
    --pando-colors-blue-50: #eff6ff;
    --pando-colors-blue-100: #dbeafe;
    --pando-colors-blue-200: #bfdbfe;
    --pando-colors-blue-300: #93c5fd;
    --pando-colors-blue-400: #60a5fa;
    --pando-colors-blue-500: #3b82f6;
    --pando-colors-blue-600: #2563eb;
    --pando-colors-blue-700: #1d4ed8;
    --pando-colors-blue-800: #1e40af;
    --pando-colors-blue-900: #1e3a8a;
    --pando-colors-blue-950: #172554;
    --pando-colors-sky-50: #f0f9ff;
    --pando-colors-sky-100: #e0f2fe;
    --pando-colors-sky-200: #bae6fd;
    --pando-colors-sky-300: #7dd3fc;
    --pando-colors-sky-400: #38bdf8;
    --pando-colors-sky-500: #0ea5e9;
    --pando-colors-sky-600: #0284c7;
    --pando-colors-sky-700: #0369a1;
    --pando-colors-sky-800: #075985;
    --pando-colors-sky-900: #0c4a6e;
    --pando-colors-sky-950: #082f49;
    --pando-colors-cyan-50: #ecfeff;
    --pando-colors-cyan-100: #cffafe;
    --pando-colors-cyan-200: #a5f3fc;
    --pando-colors-cyan-300: #67e8f9;
    --pando-colors-cyan-400: #22d3ee;
    --pando-colors-cyan-500: #06b6d4;
    --pando-colors-cyan-600: #0891b2;
    --pando-colors-cyan-700: #0e7490;
    --pando-colors-cyan-800: #155e75;
    --pando-colors-cyan-900: #164e63;
    --pando-colors-cyan-950: #083344;
    --pando-colors-teal-50: #f0fdfa;
    --pando-colors-teal-100: #ccfbf1;
    --pando-colors-teal-200: #99f6e4;
    --pando-colors-teal-300: #5eead4;
    --pando-colors-teal-400: #2dd4bf;
    --pando-colors-teal-500: #14b8a6;
    --pando-colors-teal-600: #0d9488;
    --pando-colors-teal-700: #0f766e;
    --pando-colors-teal-800: #115e59;
    --pando-colors-teal-900: #134e4a;
    --pando-colors-teal-950: #042f2e;
    --pando-colors-emerald-50: #ecfdf5;
    --pando-colors-emerald-100: #d1fae5;
    --pando-colors-emerald-200: #a7f3d0;
    --pando-colors-emerald-300: #6ee7b7;
    --pando-colors-emerald-400: #34d399;
    --pando-colors-emerald-500: #10b981;
    --pando-colors-emerald-600: #059669;
    --pando-colors-emerald-700: #047857;
    --pando-colors-emerald-800: #065f46;
    --pando-colors-emerald-900: #064e3b;
    --pando-colors-emerald-950: #022c22;
    --pando-colors-green-50: #f0fdf4;
    --pando-colors-green-100: #dcfce7;
    --pando-colors-green-200: #bbf7d0;
    --pando-colors-green-300: #86efac;
    --pando-colors-green-400: #4ade80;
    --pando-colors-green-500: #22c55e;
    --pando-colors-green-600: #16a34a;
    --pando-colors-green-700: #15803d;
    --pando-colors-green-800: #166534;
    --pando-colors-green-900: #14532d;
    --pando-colors-green-950: #052e16;
    --pando-colors-lime-50: #f7fee7;
    --pando-colors-lime-100: #ecfccb;
    --pando-colors-lime-200: #d9f99d;
    --pando-colors-lime-300: #bef264;
    --pando-colors-lime-400: #a3e635;
    --pando-colors-lime-500: #84cc16;
    --pando-colors-lime-600: #65a30d;
    --pando-colors-lime-700: #4d7c0f;
    --pando-colors-lime-800: #3f6212;
    --pando-colors-lime-900: #365314;
    --pando-colors-lime-950: #1a2e05;
    --pando-colors-yellow-50: #fefce8;
    --pando-colors-yellow-100: #fef9c3;
    --pando-colors-yellow-200: #fef08a;
    --pando-colors-yellow-300: #fde047;
    --pando-colors-yellow-400: #facc15;
    --pando-colors-yellow-500: #eab308;
    --pando-colors-yellow-600: #ca8a04;
    --pando-colors-yellow-700: #a16207;
    --pando-colors-yellow-800: #854d0e;
    --pando-colors-yellow-900: #713f12;
    --pando-colors-yellow-950: #422006;
    --pando-colors-amber-50: #fffbeb;
    --pando-colors-amber-100: #fef3c7;
    --pando-colors-amber-200: #fde68a;
    --pando-colors-amber-300: #fcd34d;
    --pando-colors-amber-400: #fbbf24;
    --pando-colors-amber-500: #f59e0b;
    --pando-colors-amber-600: #d97706;
    --pando-colors-amber-700: #b45309;
    --pando-colors-amber-800: #92400e;
    --pando-colors-amber-900: #78350f;
    --pando-colors-amber-950: #451a03;
    --pando-colors-orange-50: #fff7ed;
    --pando-colors-orange-100: #ffedd5;
    --pando-colors-orange-200: #fed7aa;
    --pando-colors-orange-300: #fdba74;
    --pando-colors-orange-400: #fb923c;
    --pando-colors-orange-500: #f97316;
    --pando-colors-orange-600: #ea580c;
    --pando-colors-orange-700: #c2410c;
    --pando-colors-orange-800: #9a3412;
    --pando-colors-orange-900: #7c2d12;
    --pando-colors-orange-950: #431407;
    --pando-colors-red-50: #fef2f2;
    --pando-colors-red-100: #fee2e2;
    --pando-colors-red-200: #fecaca;
    --pando-colors-red-300: #fca5a5;
    --pando-colors-red-400: #f87171;
    --pando-colors-red-500: #ef4444;
    --pando-colors-red-600: #dc2626;
    --pando-colors-red-700: #b91c1c;
    --pando-colors-red-800: #991b1b;
    --pando-colors-red-900: #7f1d1d;
    --pando-colors-red-950: #450a0a;
    --pando-colors-neutral-50: #fafafa;
    --pando-colors-neutral-100: #f5f5f5;
    --pando-colors-neutral-200: #e5e5e5;
    --pando-colors-neutral-300: #d4d4d4;
    --pando-colors-neutral-400: #a3a3a3;
    --pando-colors-neutral-500: #737373;
    --pando-colors-neutral-600: #525252;
    --pando-colors-neutral-700: #404040;
    --pando-colors-neutral-800: #262626;
    --pando-colors-neutral-900: #171717;
    --pando-colors-neutral-950: #0a0a0a;
    --pando-colors-stone-50: #fafaf9;
    --pando-colors-stone-100: #f5f5f4;
    --pando-colors-stone-200: #e7e5e4;
    --pando-colors-stone-300: #d6d3d1;
    --pando-colors-stone-400: #a8a29e;
    --pando-colors-stone-500: #78716c;
    --pando-colors-stone-600: #57534e;
    --pando-colors-stone-700: #44403c;
    --pando-colors-stone-800: #292524;
    --pando-colors-stone-900: #1c1917;
    --pando-colors-stone-950: #0c0a09;
    --pando-colors-zinc-50: #fafafa;
    --pando-colors-zinc-100: #f4f4f5;
    --pando-colors-zinc-200: #e4e4e7;
    --pando-colors-zinc-300: #d4d4d8;
    --pando-colors-zinc-400: #a1a1aa;
    --pando-colors-zinc-500: #71717a;
    --pando-colors-zinc-600: #52525b;
    --pando-colors-zinc-700: #3f3f46;
    --pando-colors-zinc-800: #27272a;
    --pando-colors-zinc-900: #18181b;
    --pando-colors-zinc-950: #09090b;
    --pando-colors-gray-50: #f9fafb;
    --pando-colors-gray-100: #f3f4f6;
    --pando-colors-gray-200: #e5e7eb;
    --pando-colors-gray-300: #d1d5db;
    --pando-colors-gray-400: #9ca3af;
    --pando-colors-gray-500: #6b7280;
    --pando-colors-gray-600: #4b5563;
    --pando-colors-gray-700: #374151;
    --pando-colors-gray-800: #1f2937;
    --pando-colors-gray-900: #111827;
    --pando-colors-gray-950: #030712;
    --pando-colors-slate-50: #f8fafc;
    --pando-colors-slate-100: #f1f5f9;
    --pando-colors-slate-200: #e2e8f0;
    --pando-colors-slate-300: #cbd5e1;
    --pando-colors-slate-400: #94a3b8;
    --pando-colors-slate-500: #64748b;
    --pando-colors-slate-600: #475569;
    --pando-colors-slate-700: #334155;
    --pando-colors-slate-800: #1e293b;
    --pando-colors-slate-900: #0f172a;
    --pando-colors-slate-950: #020617;
    --pando-blurs-sm: 4px;
    --pando-blurs-base: 8px;
    --pando-blurs-md: 12px;
    --pando-blurs-lg: 16px;
    --pando-blurs-xl: 24px;
    --pando-blurs-2xl: 40px;
    --pando-blurs-3xl: 64px;
    --pando-spacing-0: 0rem;
    --pando-spacing-1: 0.25rem;
    --pando-spacing-2: 0.5rem;
    --pando-spacing-3: 0.75rem;
    --pando-spacing-4: 1rem;
    --pando-spacing-5: 1.25rem;
    --pando-spacing-6: 1.5rem;
    --pando-spacing-7: 1.75rem;
    --pando-spacing-8: 2rem;
    --pando-spacing-9: 2.25rem;
    --pando-spacing-10: 2.5rem;
    --pando-spacing-11: 2.75rem;
    --pando-spacing-12: 3rem;
    --pando-spacing-14: 3.5rem;
    --pando-spacing-16: 4rem;
    --pando-spacing-20: 5rem;
    --pando-spacing-24: 6rem;
    --pando-spacing-28: 7rem;
    --pando-spacing-32: 8rem;
    --pando-spacing-36: 9rem;
    --pando-spacing-40: 10rem;
    --pando-spacing-44: 11rem;
    --pando-spacing-48: 12rem;
    --pando-spacing-52: 13rem;
    --pando-spacing-56: 14rem;
    --pando-spacing-60: 15rem;
    --pando-spacing-64: 16rem;
    --pando-spacing-72: 18rem;
    --pando-spacing-80: 20rem;
    --pando-spacing-96: 24rem;
    --pando-spacing-0\.5: 0.125rem;
    --pando-spacing-1\.5: 0.375rem;
    --pando-spacing-2\.5: 0.625rem;
    --pando-spacing-3\.5: 0.875rem;
    --pando-sizes-0: 0rem;
    --pando-sizes-1: 0.25rem;
    --pando-sizes-2: 0.5rem;
    --pando-sizes-3: 0.75rem;
    --pando-sizes-4: 1rem;
    --pando-sizes-5: 1.25rem;
    --pando-sizes-6: 1.5rem;
    --pando-sizes-7: 1.75rem;
    --pando-sizes-8: 2rem;
    --pando-sizes-9: 2.25rem;
    --pando-sizes-10: 2.5rem;
    --pando-sizes-11: 2.75rem;
    --pando-sizes-12: 3rem;
    --pando-sizes-14: 3.5rem;
    --pando-sizes-16: 4rem;
    --pando-sizes-20: 5rem;
    --pando-sizes-24: 6rem;
    --pando-sizes-28: 7rem;
    --pando-sizes-32: 8rem;
    --pando-sizes-36: 9rem;
    --pando-sizes-40: 10rem;
    --pando-sizes-44: 11rem;
    --pando-sizes-48: 12rem;
    --pando-sizes-52: 13rem;
    --pando-sizes-56: 14rem;
    --pando-sizes-60: 15rem;
    --pando-sizes-64: 16rem;
    --pando-sizes-72: 18rem;
    --pando-sizes-80: 20rem;
    --pando-sizes-96: 24rem;
    --pando-sizes-0\.5: 0.125rem;
    --pando-sizes-1\.5: 0.375rem;
    --pando-sizes-2\.5: 0.625rem;
    --pando-sizes-3\.5: 0.875rem;
    --pando-sizes-xs: 20rem;
    --pando-sizes-sm: 24rem;
    --pando-sizes-md: 28rem;
    --pando-sizes-lg: 32rem;
    --pando-sizes-xl: 36rem;
    --pando-sizes-2xl: 42rem;
    --pando-sizes-3xl: 48rem;
    --pando-sizes-4xl: 56rem;
    --pando-sizes-5xl: 64rem;
    --pando-sizes-6xl: 72rem;
    --pando-sizes-7xl: 80rem;
    --pando-sizes-8xl: 90rem;
    --pando-sizes-prose: 65ch;
    --pando-sizes-full: 100%;
    --pando-sizes-min: min-content;
    --pando-sizes-max: max-content;
    --pando-sizes-fit: fit-content;
    --pando-sizes-breakpoint-sm: 640px;
    --pando-sizes-breakpoint-md: 768px;
    --pando-sizes-breakpoint-lg: 1024px;
    --pando-sizes-breakpoint-xl: 1280px;
    --pando-sizes-breakpoint-2xl: 1536px;
    --pando-animations-spin: spin 1s linear infinite;
    --pando-animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --pando-animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --pando-animations-bounce: bounce 1s infinite;
    --pando-fonts-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times,
      serif;
    --pando-fonts-display: var(--font-pando);
    --pando-fonts-sans: var(--font-pando);
    --pando-fonts-mono: var(--font-pando-mono);
    --pando-fonts-mono-strong: var(--font-pando-mono-strong);
    --pando-z-index-hide: -1;
    --pando-z-index-base: 0;
    --pando-z-index-decorator: 50;
    --pando-z-index-dropdown: 1000;
    --pando-z-index-sticky: 1200;
    --pando-z-index-banner: 1300;
    --pando-z-index-overlay: 1400;
    --pando-z-index-modal: 1500;
    --pando-z-index-popover: 1600;
    --pando-z-index-toast: 1700;
    --pando-z-index-tooltip: 1800;
    --pando-breakpoints-sm: 640px;
    --pando-breakpoints-md: 768px;
    --pando-breakpoints-lg: 1024px;
    --pando-breakpoints-xl: 1280px;
    --pando-breakpoints-2xl: 1536px;
  }

  [data-theme='inkyBlue'] {
    --pando-colors-neutral-bg-initial: #393b6b;
    --pando-colors-neutral-bg-active: #2d2d55;
    --pando-colors-neutral-bg-hover: #404376;
    --pando-colors-neutral-border-100: #2d2d55;
    --pando-colors-neutral-border-200: #585fa2;
    --pando-colors-neutral-border-initial: #404376;
    --pando-colors-neutral-surface-100: #1b1834;
    --pando-colors-neutral-surface-200: #242145;
    --pando-colors-neutral-surface-300: #2a2753;
    --pando-colors-neutral-surface-initial: #130f25;
    --pando-colors-neutral-surface-inverse: #f3f3f8;
    --pando-colors-neutral-text-100: #8b90c1;
    --pando-colors-neutral-text-200: #a5aacf;
    --pando-colors-neutral-text-300: #f3f3f8;
    --pando-colors-neutral-text-initial: #d1d2e6;
    --pando-colors-neutral-text-inverse: #130f25;
    --pando-colors-action-bg-100-initial: #2a2753;
    --pando-colors-action-bg-100-hover: #343063;
    --pando-colors-action-bg-100-active: #24186a;
    --pando-colors-action-bg-initial: #4a33d1;
    --pando-colors-action-bg-hover: #3c28b1;
    --pando-colors-action-bg-active: #30208d;
    --pando-colors-action-border-initial: #6855d9;
    --pando-colors-action-border-focus: #3895ff;
    --pando-colors-action-navigation-initial: #3895ff;
    --pando-colors-action-navigation-hover: #3895ff;
    --pando-colors-action-navigation-visited: #b17dd4;
    --pando-colors-action-text-100: #a499e8;
    --pando-colors-action-text-200: #8677e0;
    --pando-colors-action-text-initial: #e1ddf7;
    --pando-colors-action-text-inverse: #e1ddf7;
    --pando-colors-info-border-initial: #00a3ff;
    --pando-colors-info-surface-initial: #003655;
    --pando-colors-info-text-100: #80d1ff;
    --pando-colors-info-text-200: #2bb2ff;
    --pando-colors-info-text-initial: #d5f0ff;
    --pando-colors-success-border-initial: #02e088;
    --pando-colors-success-surface-initial: #014b2d;
    --pando-colors-success-text-100: #43fdb4;
    --pando-colors-success-text-200: #02bb71;
    --pando-colors-success-text-initial: #d0ffec;
    --pando-colors-warning-border-initial: #ffba0d;
    --pando-colors-warning-surface-initial: #6b4c00;
    --pando-colors-warning-text-100: #ffe4a1;
    --pando-colors-warning-text-200: #ffd262;
    --pando-colors-warning-text-initial: #fff6e0;
    --pando-colors-danger-bg-initial: #b9004b;
    --pando-colors-danger-bg-hover: #8b0038;
    --pando-colors-danger-bg-active: #5c0026;
    --pando-colors-danger-border-initial: #ff1675;
    --pando-colors-danger-surface-initial: #5c0026;
    --pando-colors-danger-text-100: #ffa2c8;
    --pando-colors-danger-text-200: #ff73ac;
    --pando-colors-danger-text-initial: #fff0f6;
    --pando-colors-danger-text-inverse: #fff0f6;
  }

  [data-theme='inkyBlue']:where([data-color-mode='light'], .light) {
    --pando-colors-neutral-bg-initial: #d9e4f2;
    --pando-colors-neutral-bg-active: #d1dfef;
    --pando-colors-neutral-bg-hover: #dae3ee;
    --pando-colors-neutral-border-100: #dae3ee;
    --pando-colors-neutral-border-200: #89a4c7;
    --pando-colors-neutral-border-initial: #c2d1e2;
    --pando-colors-neutral-surface-100: #f4f7fa;
    --pando-colors-neutral-surface-200: #e8ecf2;
    --pando-colors-neutral-surface-300: #e5e8eb;
    --pando-colors-neutral-surface-initial: #ffffff;
    --pando-colors-neutral-surface-inverse: #1a2737;
    --pando-colors-neutral-text-100: #546f92;
    --pando-colors-neutral-text-200: #4e6583;
    --pando-colors-neutral-text-300: #1a2737;
    --pando-colors-neutral-text-initial: #3e5674;
    --pando-colors-neutral-text-inverse: #ffffff;
    --pando-colors-action-bg-100-initial: #e5e8eb;
    --pando-colors-action-bg-100-hover: #f4f5f6;
    --pando-colors-action-bg-100-active: #d1dfef;
    --pando-colors-action-bg-initial: #3c28b1;
    --pando-colors-action-bg-hover: #30208d;
    --pando-colors-action-bg-active: #24186a;
    --pando-colors-action-border-initial: #0969da;
    --pando-colors-action-border-focus: #3895ff;
    --pando-colors-action-navigation-initial: #0969da;
    --pando-colors-action-navigation-hover: #0969da;
    --pando-colors-action-navigation-visited: #8c40bf;
    --pando-colors-action-text-100: #24186a;
    --pando-colors-action-text-200: #3c28b1;
    --pando-colors-action-text-initial: #f4f7fa;
    --pando-colors-action-text-inverse: #1a2737;
    --pando-colors-info-border-initial: #00a3ff;
    --pando-colors-info-surface-initial: #aae0ff;
    --pando-colors-info-text-100: #005180;
    --pando-colors-info-text-200: #0088d5;
    --pando-colors-info-text-initial: #003655;
    --pando-colors-success-border-initial: #02bb71;
    --pando-colors-success-surface-initial: #a1fed9;
    --pando-colors-success-text-100: #017044;
    --pando-colors-success-text-200: #01955b;
    --pando-colors-success-text-initial: #002517;
    --pando-colors-warning-border-initial: #ffba0d;
    --pando-colors-warning-surface-initial: #ffedc0;
    --pando-colors-warning-text-100: #a17300;
    --pando-colors-warning-text-200: #d69900;
    --pando-colors-warning-text-initial: #352600;
    --pando-colors-danger-bg-initial: #b9004b;
    --pando-colors-danger-bg-hover: #8b0038;
    --pando-colors-danger-bg-active: #5c0026;
    --pando-colors-danger-border-initial: #ff4591;
    --pando-colors-danger-surface-initial: #ffd0e3;
    --pando-colors-danger-text-100: #b9004b;
    --pando-colors-danger-text-200: #e7005e;
    --pando-colors-danger-text-initial: #5c0026;
    --pando-colors-danger-text-inverse: #f4f7fa;
  }

  [data-theme='inkyBlue']:where([data-color-mode='dark'], .dark) {
    --pando-colors-neutral-bg-initial: #393b6b;
    --pando-colors-neutral-bg-active: #2d2d55;
    --pando-colors-neutral-bg-hover: #404376;
    --pando-colors-neutral-border-100: #2d2d55;
    --pando-colors-neutral-border-200: #585fa2;
    --pando-colors-neutral-border-initial: #404376;
    --pando-colors-neutral-surface-100: #1b1834;
    --pando-colors-neutral-surface-200: #242145;
    --pando-colors-neutral-surface-300: #2a2753;
    --pando-colors-neutral-surface-initial: #130f25;
    --pando-colors-neutral-surface-inverse: #f3f3f8;
    --pando-colors-neutral-text-100: #8b90c1;
    --pando-colors-neutral-text-200: #a5aacf;
    --pando-colors-neutral-text-300: #f3f3f8;
    --pando-colors-neutral-text-initial: #d1d2e6;
    --pando-colors-neutral-text-inverse: #130f25;
    --pando-colors-action-bg-100-initial: #2a2753;
    --pando-colors-action-bg-100-hover: #343063;
    --pando-colors-action-bg-100-active: #24186a;
    --pando-colors-action-bg-initial: #4a33d1;
    --pando-colors-action-bg-hover: #3c28b1;
    --pando-colors-action-bg-active: #30208d;
    --pando-colors-action-border-initial: #6855d9;
    --pando-colors-action-border-focus: #3895ff;
    --pando-colors-action-navigation-initial: #3895ff;
    --pando-colors-action-navigation-hover: #3895ff;
    --pando-colors-action-navigation-visited: #b17dd4;
    --pando-colors-action-text-100: #a499e8;
    --pando-colors-action-text-200: #8677e0;
    --pando-colors-action-text-initial: #e1ddf7;
    --pando-colors-action-text-inverse: #e1ddf7;
    --pando-colors-info-border-initial: #00a3ff;
    --pando-colors-info-surface-initial: #003655;
    --pando-colors-info-text-100: #80d1ff;
    --pando-colors-info-text-200: #2bb2ff;
    --pando-colors-info-text-initial: #d5f0ff;
    --pando-colors-success-border-initial: #02e088;
    --pando-colors-success-surface-initial: #014b2d;
    --pando-colors-success-text-100: #43fdb4;
    --pando-colors-success-text-200: #02bb71;
    --pando-colors-success-text-initial: #d0ffec;
    --pando-colors-warning-border-initial: #ffba0d;
    --pando-colors-warning-surface-initial: #6b4c00;
    --pando-colors-warning-text-100: #ffe4a1;
    --pando-colors-warning-text-200: #ffd262;
    --pando-colors-warning-text-initial: #fff6e0;
    --pando-colors-danger-bg-initial: #b9004b;
    --pando-colors-danger-bg-hover: #8b0038;
    --pando-colors-danger-bg-active: #5c0026;
    --pando-colors-danger-border-initial: #ff1675;
    --pando-colors-danger-surface-initial: #5c0026;
    --pando-colors-danger-text-100: #ffa2c8;
    --pando-colors-danger-text-200: #ff73ac;
    --pando-colors-danger-text-initial: #fff0f6;
    --pando-colors-danger-text-inverse: #fff0f6;
  }
}
