---

import { hstack } from '@/styled-system/patterns'
import { css } from '@/styled-system/css'
import TextLink from './ReactLib/TextLink/TextLink.astro'

type ComponentLink = {
  label: string;
  path: string;
}

interface Props {
  links: ComponentLink[],
  active: string
}

const { links, active } = Astro.props

---

<nav class={hstack({gap: '4', bgColor: 'neutral.surface.300', borderRadius: 'md', width: 'fit-content', padding: '1'})}>
  {
    links.map((link) => {
      const activeBg = link.label === active && { bgColor: 'action.bg.initial'}
      const hover = link.label !== active && { _hover: { bgColor: 'action.bg.100.hover', text: 'action.text.100'} }

      return <TextLink className={css(activeBg, hover, {textWrap: 'wrap', padding: '3', borderRadius: 'md'})} href={link.path}>{link.label}</TextLink> 
    })
  }
</nav>
<hr />

