---

import { hstack } from '@/styled-system/patterns'
import { css } from '@/styled-system/css'
import TextLink from './ReactLib/TextLink/TextLink.astro'

type ComponentLink = {
  label: string;
  path: string;
}

interface Props {
  links: ComponentLink[],
  active: string
}

const { links, active } = Astro.props

---

<nav class={hstack({gap: '4'})}>
  {
    links.map((link) => {
      const style = link.label === active && { bgColor: 'neutral.surface.300'}

      return ( 
        <span class={css(style, {textWrap: 'wrap', padding: '3', borderRadius: 'md'})}>
          <TextLink href={link.path}>{link.label}</TextLink> 
        </span> 
      )
    })
  }
</nav>
<hr />

