---
import { css } from '@/styled-system/css'
---

<div class={css({
  border: '1px solid',
  borderColor: 'neutral.border.initial',
  borderRadius: 'md',
  padding: '4',
  width: 'fit-content',
})}>
  <slot />
</div>