---
import {FigmaIcon} from '@pluralsight/react/icons'
import {hstack} from '@/styled-system/patterns'
---

<!-- figma:
'https://www.figma.com/file/ZmH4XsZS5WnKeo28ylM5x1/Pando-UI-kit-(Web)?type=design&node-id=2-1710&mode=design&t=GSrFaYVSuJdlyjmt-0',
github: 'https://github.com/pluralsight/pando',
pluralsight: 'https://view.ceros.com/pluralsight/brand-guidelines', -->

<div class={hstack()}>
  <FigmaIcon client:only />
</div>