---

interface Props {
  title: string;
  description: string;
  textToken: Token['base'];
}

const {description, textToken} = Astro.props

import type { Token } from '@pluralsight/panda-preset';
import {flex} from 'styled-system/patterns'

---

<div class={flex({ flexDirection: 'column', margin: '3 0 3 0' })}>
  <slot />
  <span>{description}</span>
  <span>
    <strong>token usage: </strong>
    <code>textStyle: '{textToken}'</code>
  </span>
</div>