@use '../shared/states';

.pando_tabWrapper {
  width: 100%;
}

.pando_tabList {
  @extend %default-focus-states;

  align-items: center;
  background-image: linear-gradient(
    to top,
    transparent 0,
    transparent 1rem,
    var(--ps-border-weak) 1.0625rem,
    var(--ps-border-weak) 1.125rem,
    transparent 1.1875rem,
    transparent 100%
  );
  border-radius: 6px;
  display: flex;
  overflow-x: auto;
  padding: 5px;
  padding-block-end: 1rem;
}

.pando_tab {
  @extend %default-focus-states;

  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 6px;
  color: var(--ps-action-text-weak);
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  height: 4rem;
  margin-inline-end: 2rem;
  padding: 0;
  position: relative;
  white-space: nowrap;

  &::after {
    background-color: var(--ps-background-hover);
    border-radius: 2px 2px 0 0;
    bottom: 0.125rem;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-top: 1.125rem;
    position: absolute;
    right: 0;
    transition:
      height 150ms ease-in-out,
      background-color 250ms ease-in-out;
    width: 100%;
  }

  &:hover::after {
    height: 0.25rem;
  }

  &[aria-selected='true'] {
    color: var(--ps-action-text-inverse);

    &::after {
      background-color: var(--ps-action-border);
      height: 0.25rem;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover::after {
      height: 0;
    }
  }
}

.pando_tabPanel {
  @extend %default-focus-states;

  width: 100%;

  &[aria-hidden='true'] {
    display: none;
  }
}
