@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[data-tooltip='true'] {
  cursor: help;
  display: inline-block;
  position: relative;
}

/* top */

[data-tooltip='true']:hover::before,
[data-tooltip='true']:hover::after {
  animation: fade-in 150ms ease-in-out;
  bottom: 100%;
  left: 50%;
  margin-bottom: 1rem;
  position: absolute;
  transform: translate(-50%);
  z-index: 1500;
}

[data-tooltip='true']:hover::before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--pando-colors-neutral-surface-inverse);
  content: '';
  height: 0;
  margin-bottom: 0.575rem;
  width: 0;
}

[data-tooltip='true']:hover::after {
  background-color: var(--pando-colors-neutral-surface-inverse);
  border-radius: 0.25rem;
  color: var(--pando-colors-neutral-text-inverse);
  content: attr(aria-label);
  font-size: 0.75rem;
  font-variation-settings: 'wght' 400;
  max-width: 300px;
  padding: 0.5rem;
  text-align: start;
  width: max-content;
}

/* bottom */

[data-position='bottom'][data-tooltip='true']:hover::before,
[data-position='bottom'][data-tooltip='true']:hover::after {
  bottom: initial;
  margin-bottom: initial;
  margin-top: 1rem;
  top: 100%;
}

[data-position='bottom'][data-tooltip='true']:hover::before {
  border-bottom: 7px solid var(--pando-colors-neutral-surface-inverse);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: initial;
  margin-bottom: initial;
  margin-top: 0.575rem;
}

/* right */

[data-position='right'][data-tooltip='true']:hover::before,
[data-position='right'][data-tooltip='true']:hover::after {
  bottom: initial;
  left: 100%;
  margin-bottom: initial;
  margin-left: 1rem;
  margin-top: initial;
  top: 50%;
  transform: translate(0, -50%);
}

[data-position='right'][data-tooltip='true']:hover::before {
  border-bottom: 7px solid transparent;
  border-left: initial;
  border-right: 7px solid var(--pando-colors-neutral-surface-inverse);
  border-top: 7px solid transparent;
  margin-bottom: initial;
  margin-left: 0.575rem;
  margin-top: initial;
}

/* left */

[data-position='left'][data-tooltip='true']:hover::before,
[data-position='left'][data-tooltip='true']:hover::after {
  bottom: initial;
  left: initial;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: 1rem;
  margin-top: initial;
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

[data-position='left'][data-tooltip='true']:hover::before {
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--pando-colors-neutral-surface-inverse);
  border-right: initial;
  border-top: 7px solid transparent;
  margin-bottom: initial;
  margin-left: initial;
  margin-right: 0.575rem;
  margin-top: initial;
}
